{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">Add Item</h1>
                {{$res := index .Data "item_details"}}
                {{$bucketName := index .Data "bucket_name"}}

                <form method="post" action="/add-item" class="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-group mt-3">
                        <label for="bucket_name">Bucket Name:</label>
                        {{with .Form.Errors.Get "bucket_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control"
                               id="bucket_name" autocomplete="off" type='text'
                               name="bucket_name" value="{{$bucketName}}" required readonly>
                    </div>
                    <div class="form-group mt-3">
                        <label for="key">Key:</label>
                        {{with .Form.Errors.Get "key"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control"
                               id="key" autocomplete="off" type='text'
                               name='key' value="{{$res.Key}}" required>
                    </div>

                    <div class="form-group">
                        <label for="val">Value:</label>
                        <textarea class="form-control" 
                                id="val" rows="3" autocomplete="off"
                                name='val' value="{{$res.Value}}" required></textarea>
                        <!-- <input class="form-control"
                               id="val" autocomplete="off" type='textarea'
                               name='val' value="{{$res.Value}}" required> -->
                    </div>


                    <hr>
                    <input type="submit" class="btn btn-primary" value="Create">
                </form>


            </div>
        </div>

    </div>
{{end}}