{{template "base" .}}

{{define "css"}}
<style>
    .bucket-table {
        margin-top: 30px;
    }
    .bucket-home {
        margin-top: 30px;
    }
    .bucket-action-icons {
        display: flex;
        justify-content: space-evenly;
    }
</style>
{{end}}

{{define "content"}}
<div class="container">
    <div class="bucket-home">
        <a href="/create-bucket" class="btn btn-success">Create Bucket</a>
        <table class="table table-bordered bucket-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Bucket Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $element := .StringSlice}}
                <tr>
                    <th scope="row">{{inc $index}}</th>
                    <td>{{$element}}</td>
                    <td>
                        <div class="bucket-action-icons">
                            <a href="/view-bucket?bucket_name={{$element}}">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/delete-bucket?bucket_name={{$element}}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}